workflows/zenti-start.export.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "zenti-export-template"
  },
  "name": "ZENTI.start \u2014 Match de instrumento y ruta",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ZENTI.start \u2014 Match de instrumento y ruta",
        "formDescription": "Tienes una idea y a\u00fan no hay propuesta formal. Te entregamos el instrumento p\u00fablico m\u00e1s coherente y una ruta para construir la postulaci\u00f3n.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Idea",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Sector",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Tecnolog\u00eda" },
                  { "option": "Salud" },
                  { "option": "Energ\u00eda" },
                  { "option": "Agro" },
                  { "option": "Miner\u00eda" },
                  { "option": "Manufactura" },
                  { "option": "Servicios" },
                  { "option": "Educaci\u00f3n" },
                  { "option": "Otro" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Etapa",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "Solo idea" },
                  { "option": "Prototipo inicial" },
                  { "option": "Con tracci\u00f3n temprana" },
                  { "option": "Con clientes pagando" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Equipo",
              "requiredField": false
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "zenti-start-form-001",
      "name": "\ud83d\udccb Formulario ZENTI.start",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// \u2192 Reemplazar con workflows/zenti-node-code/preparar-datos-start.js"
      },
      "id": "zenti-start-prep-001",
      "name": "\u2699\ufe0f Preparar Datos Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.idea }}",
        "options": {
          "systemMessage": "Eres ZENTI.start: consultor senior en innovaci\u00f3n y fondos p\u00fablicos (Chile). Tu salida alimenta un informe HTML ejecutivo; debe ser precisa y accionable.\n\nINSTRUMENTOS \u2014 con\u00f3celos todos y elige con criterio expl\u00edcito:\n\n1) CORFO Crea y Valida: validaci\u00f3n t\u00e9cnica y de mercado; fuerte I+D+i y metodolog\u00eda; encaja cuando el problema y la hip\u00f3tesis de soluci\u00f3n son claros y hay plan de evidencias.\n\n2) CORFO Innova Alta Tecnolog\u00eda: alto contenido tecnol\u00f3gico y novedad; rigor t\u00e9cnico-cient\u00edfico; suele pedirse TRL y diferenciaci\u00f3n frente al estado del arte.\n\n3) Startup Chile BUILD: escalamiento de startup; peso alto en equipo, mercado, producto y tracci\u00f3n; favorece validaci\u00f3n comercial y narrativa de crecimiento.\n\n4) CORFO Semilla Expande: articulaci\u00f3n de redes, escalabilidad temprana y modelo; equipos con roles claros y socios suele ser determinante. Requiere ventas previas acreditadas.\n\n5) CORFO Semilla Inicia: para proyectos sin ventas previas (persona natural o jur\u00eddica <18 meses); de idea a primeras ventas; hasta CLP 15M. OBLIGATORIO recomendarlo cuando el proyecto no tiene ventas ni clientes pagando.\n\n6) Innova Regi\u00f3n: impacto territorial y beneficio regional; metodolog\u00eda alineada a resultados en territorio y articulaci\u00f3n local.\n\n7) ANID FONDEF: I+D con vinculaci\u00f3n ciencia\u2013empresa; m\u00e9rito cient\u00edfico-t\u00e9cnico, plan riguroso y transferencia al sector productivo.\n\nREGLA CRÍTICA: CORFO Semilla Expande requiere acreditar ventas mínimas (cualquier monto). Si el proyecto no tiene ventas, Semilla Expande queda EXCLUIDO. Usa Semilla Inicia en ese caso.\n\nENTRADA DEL USUARIO:\n- Sector: {{ $json.sector }}\n- Etapa: {{ $json.etapa }}\n- Equipo: {{ $json.equipo }}\n- Pistas heur\u00edsticas (referencia; corr\u00edgelas si el texto desmiente): principal = {{ $json.heuristic_primary }}; secundaria = {{ $json.heuristic_secondary }}\n\nTAREA:\nA) instrumento_recomendado: nombre exacto de la lista (1)\u2013(7).\nB) instrumento_alternativo: segundo mejor, mismo formato de nombre.\nC) por_que: 120\u2013180 palabras, tono asesor senior, espa\u00f1ol; sin relleno; explica encaje etapa\u2013sector\u2013tipo de prueba de la idea.\nD) brechas: array de 3\u20135 strings: qu\u00e9 falta para ser competitivo en el instrumento recomendado.\nE) roadmap: 5\u20137 objetos { \"prioridad\": n\u00famero, \"titulo\": string, \"detalle\": string }, ordenados por prioridad; pasos concretos para preparar la postulaci\u00f3n.\n\nFORMATO DE SALIDA: \u00fanamente un objeto JSON v\u00e1lido, sin markdown ni texto antes o despu\u00e9s. Claves exactas: instrumento_recomendado, instrumento_alternativo, por_que, brechas, roadmap."
        }
      },
      "id": "zenti-start-llm-001",
      "name": "\ud83e\udde0 ZENTI.start \u2014 Match y ruta (Anthropic)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [480, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.35
        }
      },
      "id": "zenti-start-anthropic-001",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [480, 500],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// \u2192 Reemplazar con workflows/zenti-node-code/render-start-report.js"
      },
      "id": "zenti-start-render-001",
      "name": "\ud83d\udda8\ufe0f Render Start Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $('⚙️ Preparar Datos Start').first().json.email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "zenti-start-gmail-001",
      "name": "\ud83d\udce7 Gmail Start",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const prep = $('⚙️ Preparar Datos Start').first().json;\nconst rep = $('🖨️ Render Start Report').first().json;\nconst fund = rep.instrumento_recomendado || 'el instrumento sugerido';\nconst msg = 'Gracias por usar ZENTI.start.\\n\\nHemos enviado tu diagn\\u00f3stico a ' + (prep.email || 'tu correo') + '.\\n\\nInstrumento priorizado: ' + fund + '.\\n\\nSi no ves el mensaje, revisa spam o promociones.\\n\\n\\u2014 Equipo ZENTI';\nreturn [{ json: { formSubmittedText: msg } }];"
      },
      "id": "zenti-start-response-001",
      "name": "\ud83d\udccb Respuesta Formulario",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300]
    }
  ],
  "connections": {
    "\ud83d\udccb Formulario ZENTI.start": {
      "main": [
        [{ "node": "\u2699\ufe0f Preparar Datos Start", "type": "main", "index": 0 }]
      ]
    },
    "\u2699\ufe0f Preparar Datos Start": {
      "main": [
        [{ "node": "\ud83e\udde0 ZENTI.start \u2014 Match y ruta (Anthropic)", "type": "main", "index": 0 }]
      ]
    },
    "\ud83e\udde0 ZENTI.start \u2014 Match y ruta (Anthropic)": {
      "main": [
        [{ "node": "\ud83d\udda8\ufe0f Render Start Report", "type": "main", "index": 0 }]
      ]
    },
    "\ud83d\udda8\ufe0f Render Start Report": {
      "main": [
        [{ "node": "\ud83d\udce7 Gmail Start", "type": "main", "index": 0 }]
      ]
    },
    "\ud83d\udce7 Gmail Start": {
      "main": [
        [{ "node": "\ud83d\udccb Respuesta Formulario", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [{ "node": "\ud83e\udde0 ZENTI.start \u2014 Match y ruta (Anthropic)", "type": "ai_languageModel", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_comment": "ZENTI.start: formulario corto \u2192 match heur\u00edstico + LLM \u2192 HTML \u2192 Gmail \u2192 formSubmittedText. Credenciales REPLACE_WITH_*. Pegar jsCode desde workflows/zenti-node-code/preparar-datos-start.js y render-start-report.js."
}
