workflows/zenti-eval.export.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "zenti-export-template"
  },
  "name": "ZENTI — Evaluaci\u00f3n t\u00e9cnico-estrat\u00e9gica",
  "nodes": [
    {
      "parameters": {
        "formTitle": "ZENTI — Evaluaci\u00f3n t\u00e9cnico-estrat\u00e9gica",
        "formDescription": "Evaluación estratégica tipo comité de fondos públicos I+D+i",
        "formFields": {
          "values": [
            { "fieldLabel": "Nombre del Proyecto", "requiredField": true },
            { "fieldLabel": "Empresa", "requiredField": true },
            {
              "fieldLabel": "Fondo",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "CORFO Crea y Valida" },
                  { "option": "CORFO Innova Alta Tecnología" },
                  { "option": "Startup Chile BUILD" },
                  { "option": "CORFO Semilla Expande" },
                  { "option": "Innova Región" },
                  { "option": "ANID FONDEF" }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "TRL",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  { "option": "TRL 1-2 - Idea / Concepto" },
                  { "option": "TRL 3 - Prueba de concepto" },
                  { "option": "TRL 4 - Validado en laboratorio" },
                  { "option": "TRL 5 - Validado en entorno relevante" },
                  { "option": "TRL 6-7 - Prototipo demostrado" }
                ]
              },
              "requiredField": true
            },
            { "fieldLabel": "Propuesta (texto)", "fieldType": "textarea", "requiredField": false },
            { "fieldLabel": "Email", "fieldType": "email", "requiredField": true },
            {
              "fieldLabel": "Adjuntar propuesta (PDF recomendado)",
              "fieldType": "file",
              "requiredField": false,
              "acceptFileTypes": ".pdf,application/pdf"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "form-trigger-001",
      "name": "📋 Formulario Entrada",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con normalizar-binario-pdf.js",
        "nodeMode": "runOnceForEachItem"
      },
      "id": "normalizar-001",
      "name": "🧷 Normalizar binario PDF",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "extract-pdf-001",
      "name": "📄 Extraer Texto PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 300],
      "alwaysOutputData": true,
      "continueOnFail": true,
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con preparar-datos.js"
      },
      "id": "preparar-datos-001",
      "name": "⚙️ Preparar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.propuesta }}",
        "options": {
          "systemMessage": "Eres ZENTI.eval, un evaluador estratégico de proyectos I+D+i para fondos públicos. Generas informes tipo comité.\n\nProyecto: {{ $json.nombre }}\nEmpresa: {{ $json.empresa }}\nFondo: {{ $json.fondo }}\nTRL: {{ $json.trl }}\nFuente propuesta: {{ $json.fuente_propuesta }}\nEscala: {{ $json.config.escala }}\nCriterios: {{ $json.config.criterios }}\nÉnfasis: {{ $json.config.enfasis }}\n\nGenera un informe con:\n1. Resumen ejecutivo\n2. Evaluación por criterio con scoring (escala {{ $json.config.escala }})\n3. Veredicto\n4. Probabilidad estimada de adjudicación (N%)\n5. Justificación breve\n6. Nota final (escala {{ $json.config.escala }})\n7. Debilidades y brechas\n8. Recomendaciones estratégicas\n\nFormato Markdown. Cada criterio con **Nombre**: X/Y — lectura."
        }
      },
      "id": "llm-001",
      "name": "🧠 Generar Evaluación (Anthropic)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [880, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {
          "maxTokensToSample": 4096,
          "temperature": 0.3
        }
      },
      "id": "anthropic-model-001",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [880, 500],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con consolidar.js"
      },
      "id": "consolidar-001",
      "name": "📦 Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con render-html-premium.js"
      },
      "id": "render-001",
      "name": "🖥️ Render HTML Reporte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pdfshift.io/v3/convert/pdf",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { source: $json.html, landscape: false } }}",
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "pdfshift-001",
      "name": "📄 PDFShift → PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1540, 300],
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "httpBasicAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "PDFShift ZENTI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con descargar-reporte-pdf-o-html.js"
      },
      "id": "descargar-001",
      "name": "📥 Descargar reporte.html",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "name": "={{ ($json.nombre_proyecto || 'ZENTI-reporte').replace(/[^a-zA-Z0-9-_]/g,'-').substring(0,45) + ($json.formato_entrega === 'pdf' ? '.pdf' : '.html') }}",
        "folderId": "1QwlGim2fqatoZoPDRhyoSJrj99Vn3o51",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "id": "drive-001",
      "name": "☁️ Subir reporte a Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1980, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// → se reemplaza por apply script con preparar-email-premium.js"
      },
      "id": "email-prep-001",
      "name": "🔗 Preparar entrega email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2200, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_html }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              { "property": "data" }
            ]
          }
        }
      },
      "id": "gmail-001",
      "name": "📧 Email Cliente",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2420, 300],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000,
      "credentials": {
        "gmailOAuth2": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "REPLACE_WITH_CREDENTIAL_NAME"
        }
      }
    }
  ],
  "connections": {
    "📋 Formulario Entrada": {
      "main": [
        [{ "node": "🧷 Normalizar binario PDF", "type": "main", "index": 0 }]
      ]
    },
    "🧷 Normalizar binario PDF": {
      "main": [
        [{ "node": "📄 Extraer Texto PDF", "type": "main", "index": 0 }]
      ]
    },
    "📄 Extraer Texto PDF": {
      "main": [
        [{ "node": "⚙️ Preparar Datos", "type": "main", "index": 0 }]
      ]
    },
    "⚙️ Preparar Datos": {
      "main": [
        [{ "node": "🧠 Generar Evaluación (Anthropic)", "type": "main", "index": 0 }]
      ]
    },
    "🧠 Generar Evaluación (Anthropic)": {
      "main": [
        [{ "node": "📦 Consolidar", "type": "main", "index": 0 }]
      ]
    },
    "📦 Consolidar": {
      "main": [
        [{ "node": "🖥️ Render HTML Reporte", "type": "main", "index": 0 }]
      ]
    },
    "🖥️ Render HTML Reporte": {
      "main": [
        [{ "node": "📄 PDFShift → PDF", "type": "main", "index": 0 }]
      ]
    },
    "📄 PDFShift → PDF": {
      "main": [
        [{ "node": "📥 Descargar reporte.html", "type": "main", "index": 0 }]
      ]
    },
    "📥 Descargar reporte.html": {
      "main": [
        [{ "node": "☁️ Subir reporte a Drive", "type": "main", "index": 0 }]
      ]
    },
    "☁️ Subir reporte a Drive": {
      "main": [
        [{ "node": "🔗 Preparar entrega email", "type": "main", "index": 0 }]
      ]
    },
    "🔗 Preparar entrega email": {
      "main": [
        [{ "node": "📧 Email Cliente", "type": "main", "index": 0 }]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [{ "node": "🧠 Generar Evaluación (Anthropic)", "type": "ai_languageModel", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_comment": "Template de referencia. Credenciales marcadas con REPLACE_WITH_*. El script apply-zenti-premium-design.py reemplaza el jsCode de los nodos Code con los archivos de workflows/zenti-node-code/."
}
